.Octicons.Octicons-alert-16:after {
    background-image: url("../fonts/alert-16.svg");
}

.Octicons.Octicons-alert-24:after {
    background-image: url("../fonts/alert-24.svg");
}

.Octicons.Octicons-archive-16:after {
    background-image: url("../fonts/archive-16.svg");
}

.Octicons.Octicons-archive-24:after {
    background-image: url("../fonts/archive-24.svg");
}

.Octicons.Octicons-arrow-both-16:after {
    background-image: url("../fonts/arrow-both-16.svg");
}

.Octicons.Octicons-arrow-both-24:after {
    background-image: url("../fonts/arrow-both-24.svg");
}

.Octicons.Octicons-arrow-down-16:after {
    background-image: url("../fonts/arrow-down-16.svg");
}

.Octicons.Octicons-arrow-down-24:after {
    background-image: url("../fonts/arrow-down-24.svg");
}

.Octicons.Octicons-arrow-down-left-24:after {
    background-image: url("../fonts/arrow-down-left-24.svg");
}

.Octicons.Octicons-arrow-down-right-24:after {
    background-image: url("../fonts/arrow-down-right-24.svg");
}

.Octicons.Octicons-arrow-left-16:after {
    background-image: url("../fonts/arrow-left-16.svg");
}

.Octicons.Octicons-arrow-left-24:after {
    background-image: url("../fonts/arrow-left-24.svg");
}

.Octicons.Octicons-arrow-right-16:after {
    background-image: url("../fonts/arrow-right-16.svg");
}

.Octicons.Octicons-arrow-right-24:after {
    background-image: url("../fonts/arrow-right-24.svg");
}

.Octicons.Octicons-arrow-switch-16:after {
    background-image: url("../fonts/arrow-switch-16.svg");
}

.Octicons.Octicons-arrow-switch-24:after {
    background-image: url("../fonts/arrow-switch-24.svg");
}

.Octicons.Octicons-arrow-up-16:after {
    background-image: url("../fonts/arrow-up-16.svg");
}

.Octicons.Octicons-arrow-up-24:after {
    background-image: url("../fonts/arrow-up-24.svg");
}

.Octicons.Octicons-arrow-up-left-24:after {
    background-image: url("../fonts/arrow-up-left-24.svg");
}

.Octicons.Octicons-arrow-up-right-24:after {
    background-image: url("../fonts/arrow-up-right-24.svg");
}

.Octicons.Octicons-beaker-16:after {
    background-image: url("../fonts/beaker-16.svg");
}

.Octicons.Octicons-beaker-24:after {
    background-image: url("../fonts/beaker-24.svg");
}

.Octicons.Octicons-bell-16:after {
    background-image: url("../fonts/bell-16.svg");
}

.Octicons.Octicons-bell-24:after {
    background-image: url("../fonts/bell-24.svg");
}

.Octicons.Octicons-bell-fill-24:after {
    background-image: url("../fonts/bell-fill-24.svg");
}

.Octicons.Octicons-bell-slash-16:after {
    background-image: url("../fonts/bell-slash-16.svg");
}

.Octicons.Octicons-bell-slash-24:after {
    background-image: url("../fonts/bell-slash-24.svg");
}

.Octicons.Octicons-bold-16:after {
    background-image: url("../fonts/bold-16.svg");
}

.Octicons.Octicons-bold-24:after {
    background-image: url("../fonts/bold-24.svg");
}

.Octicons.Octicons-book-16:after {
    background-image: url("../fonts/book-16.svg");
}

.Octicons.Octicons-book-24:after {
    background-image: url("../fonts/book-24.svg");
}

.Octicons.Octicons-bookmark-16:after {
    background-image: url("../fonts/bookmark-16.svg");
}

.Octicons.Octicons-bookmark-24:after {
    background-image: url("../fonts/bookmark-24.svg");
}

.Octicons.Octicons-bookmark-fill-24:after {
    background-image: url("../fonts/bookmark-fill-24.svg");
}

.Octicons.Octicons-bookmark-slash-16:after {
    background-image: url("../fonts/bookmark-slash-16.svg");
}

.Octicons.Octicons-bookmark-slash-24:after {
    background-image: url("../fonts/bookmark-slash-24.svg");
}

.Octicons.Octicons-bookmark-slash-fill-24:after {
    background-image: url("../fonts/bookmark-slash-fill-24.svg");
}

.Octicons.Octicons-briefcase-16:after {
    background-image: url("../fonts/briefcase-16.svg");
}

.Octicons.Octicons-briefcase-24:after {
    background-image: url("../fonts/briefcase-24.svg");
}

.Octicons.Octicons-broadcast-16:after {
    background-image: url("../fonts/broadcast-16.svg");
}

.Octicons.Octicons-broadcast-24:after {
    background-image: url("../fonts/broadcast-24.svg");
}

.Octicons.Octicons-browser-16:after {
    background-image: url("../fonts/browser-16.svg");
}

.Octicons.Octicons-bug-16:after {
    background-image: url("../fonts/bug-16.svg");
}

.Octicons.Octicons-calendar-16:after {
    background-image: url("../fonts/calendar-16.svg");
}

.Octicons.Octicons-calendar-24:after {
    background-image: url("../fonts/calendar-24.svg");
}

.Octicons.Octicons-check-16:after {
    background-image: url("../fonts/check-16.svg");
}

.Octicons.Octicons-check-24:after {
    background-image: url("../fonts/check-24.svg");
}

.Octicons.Octicons-check-circle-16:after {
    background-image: url("../fonts/check-circle-16.svg");
}

.Octicons.Octicons-check-circle-24:after {
    background-image: url("../fonts/check-circle-24.svg");
}

.Octicons.Octicons-check-circle-fill-16:after {
    background-image: url("../fonts/check-circle-fill-16.svg");
}

.Octicons.Octicons-check-circle-fill-24:after {
    background-image: url("../fonts/check-circle-fill-24.svg");
}

.Octicons.Octicons-checklist-16:after {
    background-image: url("../fonts/checklist-16.svg");
}

.Octicons.Octicons-checklist-24:after {
    background-image: url("../fonts/checklist-24.svg");
}

.Octicons.Octicons-chevron-down-16:after {
    background-image: url("../fonts/chevron-down-16.svg");
}

.Octicons.Octicons-chevron-down-24:after {
    background-image: url("../fonts/chevron-down-24.svg");
}

.Octicons.Octicons-chevron-left-16:after {
    background-image: url("../fonts/chevron-left-16.svg");
}

.Octicons.Octicons-chevron-left-24:after {
    background-image: url("../fonts/chevron-left-24.svg");
}

.Octicons.Octicons-chevron-right-16:after {
    background-image: url("../fonts/chevron-right-16.svg");
}

.Octicons.Octicons-chevron-right-24:after {
    background-image: url("../fonts/chevron-right-24.svg");
}

.Octicons.Octicons-chevron-up-16:after {
    background-image: url("../fonts/chevron-up-16.svg");
}

.Octicons.Octicons-chevron-up-24:after {
    background-image: url("../fonts/chevron-up-24.svg");
}

.Octicons.Octicons-circle-16:after {
    background-image: url("../fonts/circle-16.svg");
}

.Octicons.Octicons-circle-24:after {
    background-image: url("../fonts/circle-24.svg");
}

.Octicons.Octicons-circle-slash-16:after {
    background-image: url("../fonts/circle-slash-16.svg");
}

.Octicons.Octicons-circle-slash-24:after {
    background-image: url("../fonts/circle-slash-24.svg");
}

.Octicons.Octicons-clippy-16:after {
    background-image: url("../fonts/clippy-16.svg");
}

.Octicons.Octicons-clippy-24:after {
    background-image: url("../fonts/clippy-24.svg");
}

.Octicons.Octicons-clock-16:after {
    background-image: url("../fonts/clock-16.svg");
}

.Octicons.Octicons-clock-24:after {
    background-image: url("../fonts/clock-24.svg");
}

.Octicons.Octicons-code-16:after {
    background-image: url("../fonts/code-16.svg");
}

.Octicons.Octicons-code-24:after {
    background-image: url("../fonts/code-24.svg");
}

.Octicons.Octicons-code-review-16:after {
    background-image: url("../fonts/code-review-16.svg");
}

.Octicons.Octicons-code-review-24:after {
    background-image: url("../fonts/code-review-24.svg");
}

.Octicons.Octicons-code-square-16:after {
    background-image: url("../fonts/code-square-16.svg");
}

.Octicons.Octicons-code-square-24:after {
    background-image: url("../fonts/code-square-24.svg");
}

.Octicons.Octicons-comment-16:after {
    background-image: url("../fonts/comment-16.svg");
}

.Octicons.Octicons-comment-24:after {
    background-image: url("../fonts/comment-24.svg");
}

.Octicons.Octicons-comment-discussion-16:after {
    background-image: url("../fonts/comment-discussion-16.svg");
}

.Octicons.Octicons-comment-discussion-24:after {
    background-image: url("../fonts/comment-discussion-24.svg");
}

.Octicons.Octicons-commit-24:after {
    background-image: url("../fonts/commit-24.svg");
}

.Octicons.Octicons-container-16:after {
    background-image: url("../fonts/container-16.svg");
}

.Octicons.Octicons-container-24:after {
    background-image: url("../fonts/container-24.svg");
}

.Octicons.Octicons-copy-24:after {
    background-image: url("../fonts/copy-24.svg");
}

.Octicons.Octicons-cpu-16:after {
    background-image: url("../fonts/cpu-16.svg");
}

.Octicons.Octicons-cpu-24:after {
    background-image: url("../fonts/cpu-24.svg");
}

.Octicons.Octicons-credit-card-16:after {
    background-image: url("../fonts/credit-card-16.svg");
}

.Octicons.Octicons-credit-card-24:after {
    background-image: url("../fonts/credit-card-24.svg");
}

.Octicons.Octicons-cross-reference-16:after {
    background-image: url("../fonts/cross-reference-16.svg");
}

.Octicons.Octicons-cross-reference-24:after {
    background-image: url("../fonts/cross-reference-24.svg");
}

.Octicons.Octicons-dash-16:after {
    background-image: url("../fonts/dash-16.svg");
}

.Octicons.Octicons-dash-24:after {
    background-image: url("../fonts/dash-24.svg");
}

.Octicons.Octicons-database-16:after {
    background-image: url("../fonts/database-16.svg");
}

.Octicons.Octicons-database-24:after {
    background-image: url("../fonts/database-24.svg");
}

.Octicons.Octicons-desktop-download-16:after {
    background-image: url("../fonts/desktop-download-16.svg");
}

.Octicons.Octicons-desktop-download-24:after {
    background-image: url("../fonts/desktop-download-24.svg");
}

.Octicons.Octicons-device-camera-16:after {
    background-image: url("../fonts/device-camera-16.svg");
}

.Octicons.Octicons-device-camera-video-16:after {
    background-image: url("../fonts/device-camera-video-16.svg");
}

.Octicons.Octicons-device-camera-video-24:after {
    background-image: url("../fonts/device-camera-video-24.svg");
}

.Octicons.Octicons-device-desktop-16:after {
    background-image: url("../fonts/device-desktop-16.svg");
}

.Octicons.Octicons-device-desktop-24:after {
    background-image: url("../fonts/device-desktop-24.svg");
}

.Octicons.Octicons-device-mobile-16:after {
    background-image: url("../fonts/device-mobile-16.svg");
}

.Octicons.Octicons-device-mobile-24:after {
    background-image: url("../fonts/device-mobile-24.svg");
}

.Octicons.Octicons-diff-16:after {
    background-image: url("../fonts/diff-16.svg");
}

.Octicons.Octicons-diff-24:after {
    background-image: url("../fonts/diff-24.svg");
}

.Octicons.Octicons-diff-added-16:after {
    background-image: url("../fonts/diff-added-16.svg");
}

.Octicons.Octicons-diff-ignored-16:after {
    background-image: url("../fonts/diff-ignored-16.svg");
}

.Octicons.Octicons-diff-modified-16:after {
    background-image: url("../fonts/diff-modified-16.svg");
}

.Octicons.Octicons-diff-removed-16:after {
    background-image: url("../fonts/diff-removed-16.svg");
}

.Octicons.Octicons-diff-renamed-16:after {
    background-image: url("../fonts/diff-renamed-16.svg");
}

.Octicons.Octicons-dot-16:after {
    background-image: url("../fonts/dot-16.svg");
}

.Octicons.Octicons-dot-24:after {
    background-image: url("../fonts/dot-24.svg");
}

.Octicons.Octicons-dot-fill-16:after {
    background-image: url("../fonts/dot-fill-16.svg");
}

.Octicons.Octicons-dot-fill-24:after {
    background-image: url("../fonts/dot-fill-24.svg");
}

.Octicons.Octicons-download-16:after {
    background-image: url("../fonts/download-16.svg");
}

.Octicons.Octicons-download-24:after {
    background-image: url("../fonts/download-24.svg");
}

.Octicons.Octicons-ellipsis-16:after {
    background-image: url("../fonts/ellipsis-16.svg");
}

.Octicons.Octicons-eye-16:after {
    background-image: url("../fonts/eye-16.svg");
}

.Octicons.Octicons-eye-24:after {
    background-image: url("../fonts/eye-24.svg");
}

.Octicons.Octicons-eye-closed-16:after {
    background-image: url("../fonts/eye-closed-16.svg");
}

.Octicons.Octicons-eye-closed-24:after {
    background-image: url("../fonts/eye-closed-24.svg");
}

.Octicons.Octicons-file-16:after {
    background-image: url("../fonts/file-16.svg");
}

.Octicons.Octicons-file-24:after {
    background-image: url("../fonts/file-24.svg");
}

.Octicons.Octicons-file-badge-16:after {
    background-image: url("../fonts/file-badge-16.svg");
}

.Octicons.Octicons-file-binary-16:after {
    background-image: url("../fonts/file-binary-16.svg");
}

.Octicons.Octicons-file-binary-24:after {
    background-image: url("../fonts/file-binary-24.svg");
}

.Octicons.Octicons-file-code-16:after {
    background-image: url("../fonts/file-code-16.svg");
}

.Octicons.Octicons-file-code-24:after {
    background-image: url("../fonts/file-code-24.svg");
}

.Octicons.Octicons-file-diff-16:after {
    background-image: url("../fonts/file-diff-16.svg");
}

.Octicons.Octicons-file-diff-24:after {
    background-image: url("../fonts/file-diff-24.svg");
}

.Octicons.Octicons-file-directory-16:after {
    background-image: url("../fonts/file-directory-16.svg");
}

.Octicons.Octicons-file-directory-24:after {
    background-image: url("../fonts/file-directory-24.svg");
}

.Octicons.Octicons-file-directory-fill-24:after {
    background-image: url("../fonts/file-directory-fill-24.svg");
}

.Octicons.Octicons-file-media-24:after {
    background-image: url("../fonts/file-media-24.svg");
}

.Octicons.Octicons-file-submodule-16:after {
    background-image: url("../fonts/file-submodule-16.svg");
}

.Octicons.Octicons-file-submodule-24:after {
    background-image: url("../fonts/file-submodule-24.svg");
}

.Octicons.Octicons-file-symlink-file-16:after {
    background-image: url("../fonts/file-symlink-file-16.svg");
}

.Octicons.Octicons-file-symlink-file-24:after {
    background-image: url("../fonts/file-symlink-file-24.svg");
}

.Octicons.Octicons-file-zip-16:after {
    background-image: url("../fonts/file-zip-16.svg");
}

.Octicons.Octicons-file-zip-24:after {
    background-image: url("../fonts/file-zip-24.svg");
}

.Octicons.Octicons-filter-16:after {
    background-image: url("../fonts/filter-16.svg");
}

.Octicons.Octicons-filter-24:after {
    background-image: url("../fonts/filter-24.svg");
}

.Octicons.Octicons-flame-16:after {
    background-image: url("../fonts/flame-16.svg");
}

.Octicons.Octicons-flame-24:after {
    background-image: url("../fonts/flame-24.svg");
}

.Octicons.Octicons-fold-16:after {
    background-image: url("../fonts/fold-16.svg");
}

.Octicons.Octicons-fold-24:after {
    background-image: url("../fonts/fold-24.svg");
}

.Octicons.Octicons-fold-down-16:after {
    background-image: url("../fonts/fold-down-16.svg");
}

.Octicons.Octicons-fold-down-24:after {
    background-image: url("../fonts/fold-down-24.svg");
}

.Octicons.Octicons-fold-up-16:after {
    background-image: url("../fonts/fold-up-16.svg");
}

.Octicons.Octicons-fold-up-24:after {
    background-image: url("../fonts/fold-up-24.svg");
}

.Octicons.Octicons-gear-16:after {
    background-image: url("../fonts/gear-16.svg");
}

.Octicons.Octicons-gear-24:after {
    background-image: url("../fonts/gear-24.svg");
}

.Octicons.Octicons-gift-16:after {
    background-image: url("../fonts/gift-16.svg");
}

.Octicons.Octicons-gift-24:after {
    background-image: url("../fonts/gift-24.svg");
}

.Octicons.Octicons-git-branch-16:after {
    background-image: url("../fonts/git-branch-16.svg");
}

.Octicons.Octicons-git-branch-24:after {
    background-image: url("../fonts/git-branch-24.svg");
}

.Octicons.Octicons-git-commit-16:after {
    background-image: url("../fonts/git-commit-16.svg");
}

.Octicons.Octicons-git-commit-24:after {
    background-image: url("../fonts/git-commit-24.svg");
}

.Octicons.Octicons-git-compare-16:after {
    background-image: url("../fonts/git-compare-16.svg");
}

.Octicons.Octicons-git-compare-24:after {
    background-image: url("../fonts/git-compare-24.svg");
}

.Octicons.Octicons-git-fork-24:after {
    background-image: url("../fonts/git-fork-24.svg");
}

.Octicons.Octicons-git-merge-16:after {
    background-image: url("../fonts/git-merge-16.svg");
}

.Octicons.Octicons-git-merge-24:after {
    background-image: url("../fonts/git-merge-24.svg");
}

.Octicons.Octicons-git-pull-request-16:after {
    background-image: url("../fonts/git-pull-request-16.svg");
}

.Octicons.Octicons-git-pull-request-24:after {
    background-image: url("../fonts/git-pull-request-24.svg");
}

.Octicons.Octicons-globe-16:after {
    background-image: url("../fonts/globe-16.svg");
}

.Octicons.Octicons-globe-24:after {
    background-image: url("../fonts/globe-24.svg");
}

.Octicons.Octicons-grabber-16:after {
    background-image: url("../fonts/grabber-16.svg");
}

.Octicons.Octicons-grabber-24:after {
    background-image: url("../fonts/grabber-24.svg");
}

.Octicons.Octicons-graph-16:after {
    background-image: url("../fonts/graph-16.svg");
}

.Octicons.Octicons-graph-24:after {
    background-image: url("../fonts/graph-24.svg");
}

.Octicons.Octicons-heading-16:after {
    background-image: url("../fonts/heading-16.svg");
}

.Octicons.Octicons-heading-24:after {
    background-image: url("../fonts/heading-24.svg");
}

.Octicons.Octicons-heart-16:after {
    background-image: url("../fonts/heart-16.svg");
}

.Octicons.Octicons-heart-24:after {
    background-image: url("../fonts/heart-24.svg");
}

.Octicons.Octicons-heart-fill-16:after {
    background-image: url("../fonts/heart-fill-16.svg");
}

.Octicons.Octicons-heart-fill-24:after {
    background-image: url("../fonts/heart-fill-24.svg");
}

.Octicons.Octicons-history-16:after {
    background-image: url("../fonts/history-16.svg");
}

.Octicons.Octicons-history-24:after {
    background-image: url("../fonts/history-24.svg");
}

.Octicons.Octicons-home-16:after {
    background-image: url("../fonts/home-16.svg");
}

.Octicons.Octicons-home-24:after {
    background-image: url("../fonts/home-24.svg");
}

.Octicons.Octicons-home-fill-24:after {
    background-image: url("../fonts/home-fill-24.svg");
}

.Octicons.Octicons-horizontal-rule-16:after {
    background-image: url("../fonts/horizontal-rule-16.svg");
}

.Octicons.Octicons-horizontal-rule-24:after {
    background-image: url("../fonts/horizontal-rule-24.svg");
}

.Octicons.Octicons-hourglass-16:after {
    background-image: url("../fonts/hourglass-16.svg");
}

.Octicons.Octicons-hourglass-24:after {
    background-image: url("../fonts/hourglass-24.svg");
}

.Octicons.Octicons-hubot-16:after {
    background-image: url("../fonts/hubot-16.svg");
}

.Octicons.Octicons-hubot-24:after {
    background-image: url("../fonts/hubot-24.svg");
}

.Octicons.Octicons-image-16:after {
    background-image: url("../fonts/image-16.svg");
}

.Octicons.Octicons-image-24:after {
    background-image: url("../fonts/image-24.svg");
}

.Octicons.Octicons-inbox-16:after {
    background-image: url("../fonts/inbox-16.svg");
}

.Octicons.Octicons-inbox-24:after {
    background-image: url("../fonts/inbox-24.svg");
}

.Octicons.Octicons-infinity-16:after {
    background-image: url("../fonts/infinity-16.svg");
}

.Octicons.Octicons-infinity-24:after {
    background-image: url("../fonts/infinity-24.svg");
}

.Octicons.Octicons-info-16:after {
    background-image: url("../fonts/info-16.svg");
}

.Octicons.Octicons-info-24:after {
    background-image: url("../fonts/info-24.svg");
}

.Octicons.Octicons-insights-24:after {
    background-image: url("../fonts/insights-24.svg");
}

.Octicons.Octicons-issue-closed-16:after {
    background-image: url("../fonts/issue-closed-16.svg");
}

.Octicons.Octicons-issue-closed-24:after {
    background-image: url("../fonts/issue-closed-24.svg");
}

.Octicons.Octicons-issue-opened-16:after {
    background-image: url("../fonts/issue-opened-16.svg");
}

.Octicons.Octicons-issue-opened-24:after {
    background-image: url("../fonts/issue-opened-24.svg");
}

.Octicons.Octicons-issue-reopened-16:after {
    background-image: url("../fonts/issue-reopened-16.svg");
}

.Octicons.Octicons-issue-reopened-24:after {
    background-image: url("../fonts/issue-reopened-24.svg");
}

.Octicons.Octicons-italic-16:after {
    background-image: url("../fonts/italic-16.svg");
}

.Octicons.Octicons-italic-24:after {
    background-image: url("../fonts/italic-24.svg");
}

.Octicons.Octicons-kebab-horizontal-16:after {
    background-image: url("../fonts/kebab-horizontal-16.svg");
}

.Octicons.Octicons-kebab-horizontal-24:after {
    background-image: url("../fonts/kebab-horizontal-24.svg");
}

.Octicons.Octicons-key-16:after {
    background-image: url("../fonts/key-16.svg");
}

.Octicons.Octicons-key-24:after {
    background-image: url("../fonts/key-24.svg");
}

.Octicons.Octicons-law-16:after {
    background-image: url("../fonts/law-16.svg");
}

.Octicons.Octicons-law-24:after {
    background-image: url("../fonts/law-24.svg");
}

.Octicons.Octicons-light-bulb-16:after {
    background-image: url("../fonts/light-bulb-16.svg");
}

.Octicons.Octicons-light-bulb-24:after {
    background-image: url("../fonts/light-bulb-24.svg");
}

.Octicons.Octicons-link-16:after {
    background-image: url("../fonts/link-16.svg");
}

.Octicons.Octicons-link-24:after {
    background-image: url("../fonts/link-24.svg");
}

.Octicons.Octicons-link-external-16:after {
    background-image: url("../fonts/link-external-16.svg");
}

.Octicons.Octicons-link-external-24:after {
    background-image: url("../fonts/link-external-24.svg");
}

.Octicons.Octicons-list-ordered-16:after {
    background-image: url("../fonts/list-ordered-16.svg");
}

.Octicons.Octicons-list-ordered-24:after {
    background-image: url("../fonts/list-ordered-24.svg");
}

.Octicons.Octicons-list-unordered-16:after {
    background-image: url("../fonts/list-unordered-16.svg");
}

.Octicons.Octicons-list-unordered-24:after {
    background-image: url("../fonts/list-unordered-24.svg");
}

.Octicons.Octicons-location-16:after {
    background-image: url("../fonts/location-16.svg");
}

.Octicons.Octicons-location-24:after {
    background-image: url("../fonts/location-24.svg");
}

.Octicons.Octicons-lock-16:after {
    background-image: url("../fonts/lock-16.svg");
}

.Octicons.Octicons-lock-24:after {
    background-image: url("../fonts/lock-24.svg");
}

.Octicons.Octicons-logo-gist-16:after {
    background-image: url("../fonts/logo-gist-16.svg");
}

.Octicons.Octicons-logo-github-16:after {
    background-image: url("../fonts/logo-github-16.svg");
}

.Octicons.Octicons-mail-16:after {
    background-image: url("../fonts/mail-16.svg");
}

.Octicons.Octicons-mail-24:after {
    background-image: url("../fonts/mail-24.svg");
}

.Octicons.Octicons-mark-github-16:after {
    background-image: url("../fonts/mark-github-16.svg");
}

.Octicons.Octicons-markdown-16:after {
    background-image: url("../fonts/markdown-16.svg");
}

.Octicons.Octicons-megaphone-16:after {
    background-image: url("../fonts/megaphone-16.svg");
}

.Octicons.Octicons-megaphone-24:after {
    background-image: url("../fonts/megaphone-24.svg");
}

.Octicons.Octicons-mention-16:after {
    background-image: url("../fonts/mention-16.svg");
}

.Octicons.Octicons-mention-24:after {
    background-image: url("../fonts/mention-24.svg");
}

.Octicons.Octicons-meter-16:after {
    background-image: url("../fonts/meter-16.svg");
}

.Octicons.Octicons-milestone-16:after {
    background-image: url("../fonts/milestone-16.svg");
}

.Octicons.Octicons-milestone-24:after {
    background-image: url("../fonts/milestone-24.svg");
}

.Octicons.Octicons-mirror-16:after {
    background-image: url("../fonts/mirror-16.svg");
}

.Octicons.Octicons-mirror-24:after {
    background-image: url("../fonts/mirror-24.svg");
}

.Octicons.Octicons-moon-16:after {
    background-image: url("../fonts/moon-16.svg");
}

.Octicons.Octicons-moon-24:after {
    background-image: url("../fonts/moon-24.svg");
}

.Octicons.Octicons-mortar-board-16:after {
    background-image: url("../fonts/mortar-board-16.svg");
}

.Octicons.Octicons-mortar-board-24:after {
    background-image: url("../fonts/mortar-board-24.svg");
}

.Octicons.Octicons-mute-16:after {
    background-image: url("../fonts/mute-16.svg");
}

.Octicons.Octicons-mute-24:after {
    background-image: url("../fonts/mute-24.svg");
}

.Octicons.Octicons-no-entry-16:after {
    background-image: url("../fonts/no-entry-16.svg");
}

.Octicons.Octicons-no-entry-24:after {
    background-image: url("../fonts/no-entry-24.svg");
}

.Octicons.Octicons-north-star-16:after {
    background-image: url("../fonts/north-star-16.svg");
}

.Octicons.Octicons-north-star-24:after {
    background-image: url("../fonts/north-star-24.svg");
}

.Octicons.Octicons-note-16:after {
    background-image: url("../fonts/note-16.svg");
}

.Octicons.Octicons-note-24:after {
    background-image: url("../fonts/note-24.svg");
}

.Octicons.Octicons-octoface-16:after {
    background-image: url("../fonts/octoface-16.svg");
}

.Octicons.Octicons-octoface-24:after {
    background-image: url("../fonts/octoface-24.svg");
}

.Octicons.Octicons-organization-16:after {
    background-image: url("../fonts/organization-16.svg");
}

.Octicons.Octicons-organization-24:after {
    background-image: url("../fonts/organization-24.svg");
}

.Octicons.Octicons-package-16:after {
    background-image: url("../fonts/package-16.svg");
}

.Octicons.Octicons-package-24:after {
    background-image: url("../fonts/package-24.svg");
}

.Octicons.Octicons-package-dependencies-16:after {
    background-image: url("../fonts/package-dependencies-16.svg");
}

.Octicons.Octicons-package-dependencies-24:after {
    background-image: url("../fonts/package-dependencies-24.svg");
}

.Octicons.Octicons-package-dependents-16:after {
    background-image: url("../fonts/package-dependents-16.svg");
}

.Octicons.Octicons-package-dependents-24:after {
    background-image: url("../fonts/package-dependents-24.svg");
}

.Octicons.Octicons-paintbrush-16:after {
    background-image: url("../fonts/paintbrush-16.svg");
}

.Octicons.Octicons-paper-airplane-16:after {
    background-image: url("../fonts/paper-airplane-16.svg");
}

.Octicons.Octicons-paper-airplane-24:after {
    background-image: url("../fonts/paper-airplane-24.svg");
}

.Octicons.Octicons-pencil-16:after {
    background-image: url("../fonts/pencil-16.svg");
}

.Octicons.Octicons-pencil-24:after {
    background-image: url("../fonts/pencil-24.svg");
}

.Octicons.Octicons-people-16:after {
    background-image: url("../fonts/people-16.svg");
}

.Octicons.Octicons-people-24:after {
    background-image: url("../fonts/people-24.svg");
}

.Octicons.Octicons-person-16:after {
    background-image: url("../fonts/person-16.svg");
}

.Octicons.Octicons-person-24:after {
    background-image: url("../fonts/person-24.svg");
}

.Octicons.Octicons-pin-16:after {
    background-image: url("../fonts/pin-16.svg");
}

.Octicons.Octicons-pin-24:after {
    background-image: url("../fonts/pin-24.svg");
}

.Octicons.Octicons-play-16:after {
    background-image: url("../fonts/play-16.svg");
}

.Octicons.Octicons-play-24:after {
    background-image: url("../fonts/play-24.svg");
}

.Octicons.Octicons-plug-16:after {
    background-image: url("../fonts/plug-16.svg");
}

.Octicons.Octicons-plug-24:after {
    background-image: url("../fonts/plug-24.svg");
}

.Octicons.Octicons-plus-16:after {
    background-image: url("../fonts/plus-16.svg");
}

.Octicons.Octicons-plus-24:after {
    background-image: url("../fonts/plus-24.svg");
}

.Octicons.Octicons-plus-circle-16:after {
    background-image: url("../fonts/plus-circle-16.svg");
}

.Octicons.Octicons-plus-circle-24:after {
    background-image: url("../fonts/plus-circle-24.svg");
}

.Octicons.Octicons-project-16:after {
    background-image: url("../fonts/project-16.svg");
}

.Octicons.Octicons-project-24:after {
    background-image: url("../fonts/project-24.svg");
}

.Octicons.Octicons-pulse-16:after {
    background-image: url("../fonts/pulse-16.svg");
}

.Octicons.Octicons-pulse-24:after {
    background-image: url("../fonts/pulse-24.svg");
}

.Octicons.Octicons-question-16:after {
    background-image: url("../fonts/question-16.svg");
}

.Octicons.Octicons-question-24:after {
    background-image: url("../fonts/question-24.svg");
}

.Octicons.Octicons-quote-16:after {
    background-image: url("../fonts/quote-16.svg");
}

.Octicons.Octicons-quote-24:after {
    background-image: url("../fonts/quote-24.svg");
}

.Octicons.Octicons-reply-16:after {
    background-image: url("../fonts/reply-16.svg");
}

.Octicons.Octicons-reply-24:after {
    background-image: url("../fonts/reply-24.svg");
}

.Octicons.Octicons-repo-16:after {
    background-image: url("../fonts/repo-16.svg");
}

.Octicons.Octicons-repo-24:after {
    background-image: url("../fonts/repo-24.svg");
}

.Octicons.Octicons-repo-clone-16:after {
    background-image: url("../fonts/repo-clone-16.svg");
}

.Octicons.Octicons-repo-forked-16:after {
    background-image: url("../fonts/repo-forked-16.svg");
}

.Octicons.Octicons-repo-pull-16:after {
    background-image: url("../fonts/repo-pull-16.svg");
}

.Octicons.Octicons-repo-push-16:after {
    background-image: url("../fonts/repo-push-16.svg");
}

.Octicons.Octicons-repo-push-24:after {
    background-image: url("../fonts/repo-push-24.svg");
}

.Octicons.Octicons-repo-template-16:after {
    background-image: url("../fonts/repo-template-16.svg");
}

.Octicons.Octicons-repo-template-24:after {
    background-image: url("../fonts/repo-template-24.svg");
}

.Octicons.Octicons-report-16:after {
    background-image: url("../fonts/report-16.svg");
}

.Octicons.Octicons-report-24:after {
    background-image: url("../fonts/report-24.svg");
}

.Octicons.Octicons-rocket-16:after {
    background-image: url("../fonts/rocket-16.svg");
}

.Octicons.Octicons-rocket-24:after {
    background-image: url("../fonts/rocket-24.svg");
}

.Octicons.Octicons-rss-16:after {
    background-image: url("../fonts/rss-16.svg");
}

.Octicons.Octicons-rss-24:after {
    background-image: url("../fonts/rss-24.svg");
}

.Octicons.Octicons-ruby-16:after {
    background-image: url("../fonts/ruby-16.svg");
}

.Octicons.Octicons-ruby-24:after {
    background-image: url("../fonts/ruby-24.svg");
}

.Octicons.Octicons-screen-full-16:after {
    background-image: url("../fonts/screen-full-16.svg");
}

.Octicons.Octicons-screen-full-24:after {
    background-image: url("../fonts/screen-full-24.svg");
}

.Octicons.Octicons-screen-normal-16:after {
    background-image: url("../fonts/screen-normal-16.svg");
}

.Octicons.Octicons-screen-normal-24:after {
    background-image: url("../fonts/screen-normal-24.svg");
}

.Octicons.Octicons-search-16:after {
    background-image: url("../fonts/search-16.svg");
}

.Octicons.Octicons-search-24:after {
    background-image: url("../fonts/search-24.svg");
}

.Octicons.Octicons-server-16:after {
    background-image: url("../fonts/server-16.svg");
}

.Octicons.Octicons-server-24:after {
    background-image: url("../fonts/server-24.svg");
}

.Octicons.Octicons-share-16:after {
    background-image: url("../fonts/share-16.svg");
}

.Octicons.Octicons-share-24:after {
    background-image: url("../fonts/share-24.svg");
}

.Octicons.Octicons-share-android-16:after {
    background-image: url("../fonts/share-android-16.svg");
}

.Octicons.Octicons-share-android-24:after {
    background-image: url("../fonts/share-android-24.svg");
}

.Octicons.Octicons-shield-16:after {
    background-image: url("../fonts/shield-16.svg");
}

.Octicons.Octicons-shield-24:after {
    background-image: url("../fonts/shield-24.svg");
}

.Octicons.Octicons-shield-check-16:after {
    background-image: url("../fonts/shield-check-16.svg");
}

.Octicons.Octicons-shield-check-24:after {
    background-image: url("../fonts/shield-check-24.svg");
}

.Octicons.Octicons-shield-lock-16:after {
    background-image: url("../fonts/shield-lock-16.svg");
}

.Octicons.Octicons-shield-lock-24:after {
    background-image: url("../fonts/shield-lock-24.svg");
}

.Octicons.Octicons-shield-x-16:after {
    background-image: url("../fonts/shield-x-16.svg");
}

.Octicons.Octicons-shield-x-24:after {
    background-image: url("../fonts/shield-x-24.svg");
}

.Octicons.Octicons-sign-in-16:after {
    background-image: url("../fonts/sign-in-16.svg");
}

.Octicons.Octicons-sign-in-24:after {
    background-image: url("../fonts/sign-in-24.svg");
}

.Octicons.Octicons-sign-out-16:after {
    background-image: url("../fonts/sign-out-16.svg");
}

.Octicons.Octicons-sign-out-24:after {
    background-image: url("../fonts/sign-out-24.svg");
}

.Octicons.Octicons-skip-16:after {
    background-image: url("../fonts/skip-16.svg");
}

.Octicons.Octicons-skip-24:after {
    background-image: url("../fonts/skip-24.svg");
}

.Octicons.Octicons-smiley-16:after {
    background-image: url("../fonts/smiley-16.svg");
}

.Octicons.Octicons-smiley-24:after {
    background-image: url("../fonts/smiley-24.svg");
}

.Octicons.Octicons-square-16:after {
    background-image: url("../fonts/square-16.svg");
}

.Octicons.Octicons-square-24:after {
    background-image: url("../fonts/square-24.svg");
}

.Octicons.Octicons-square-fill-16:after {
    background-image: url("../fonts/square-fill-16.svg");
}

.Octicons.Octicons-square-fill-24:after {
    background-image: url("../fonts/square-fill-24.svg");
}

.Octicons.Octicons-squirrel-16:after {
    background-image: url("../fonts/squirrel-16.svg");
}

.Octicons.Octicons-squirrel-24:after {
    background-image: url("../fonts/squirrel-24.svg");
}

.Octicons.Octicons-star-16:after {
    background-image: url("../fonts/star-16.svg");
}

.Octicons.Octicons-star-24:after {
    background-image: url("../fonts/star-24.svg");
}

.Octicons.Octicons-star-fill-16:after {
    background-image: url("../fonts/star-fill-16.svg");
}

.Octicons.Octicons-star-fill-24:after {
    background-image: url("../fonts/star-fill-24.svg");
}

.Octicons.Octicons-stop-16:after {
    background-image: url("../fonts/stop-16.svg");
}

.Octicons.Octicons-stop-24:after {
    background-image: url("../fonts/stop-24.svg");
}

.Octicons.Octicons-stopwatch-16:after {
    background-image: url("../fonts/stopwatch-16.svg");
}

.Octicons.Octicons-stopwatch-24:after {
    background-image: url("../fonts/stopwatch-24.svg");
}

.Octicons.Octicons-strikethrough-16:after {
    background-image: url("../fonts/strikethrough-16.svg");
}

.Octicons.Octicons-strikethrough-24:after {
    background-image: url("../fonts/strikethrough-24.svg");
}

.Octicons.Octicons-sun-16:after {
    background-image: url("../fonts/sun-16.svg");
}

.Octicons.Octicons-sun-24:after {
    background-image: url("../fonts/sun-24.svg");
}

.Octicons.Octicons-sync-16:after {
    background-image: url("../fonts/sync-16.svg");
}

.Octicons.Octicons-sync-24:after {
    background-image: url("../fonts/sync-24.svg");
}

.Octicons.Octicons-tab-24:after {
    background-image: url("../fonts/tab-24.svg");
}

.Octicons.Octicons-tag-16:after {
    background-image: url("../fonts/tag-16.svg");
}

.Octicons.Octicons-tag-24:after {
    background-image: url("../fonts/tag-24.svg");
}

.Octicons.Octicons-tasklist-16:after {
    background-image: url("../fonts/tasklist-16.svg");
}

.Octicons.Octicons-tasklist-24:after {
    background-image: url("../fonts/tasklist-24.svg");
}

.Octicons.Octicons-telescope-16:after {
    background-image: url("../fonts/telescope-16.svg");
}

.Octicons.Octicons-telescope-24:after {
    background-image: url("../fonts/telescope-24.svg");
}

.Octicons.Octicons-terminal-16:after {
    background-image: url("../fonts/terminal-16.svg");
}

.Octicons.Octicons-terminal-24:after {
    background-image: url("../fonts/terminal-24.svg");
}

.Octicons.Octicons-three-bars-16:after {
    background-image: url("../fonts/three-bars-16.svg");
}

.Octicons.Octicons-thumbsdown-16:after {
    background-image: url("../fonts/thumbsdown-16.svg");
}

.Octicons.Octicons-thumbsdown-24:after {
    background-image: url("../fonts/thumbsdown-24.svg");
}

.Octicons.Octicons-thumbsup-16:after {
    background-image: url("../fonts/thumbsup-16.svg");
}

.Octicons.Octicons-thumbsup-24:after {
    background-image: url("../fonts/thumbsup-24.svg");
}

.Octicons.Octicons-tools-16:after {
    background-image: url("../fonts/tools-16.svg");
}

.Octicons.Octicons-tools-24:after {
    background-image: url("../fonts/tools-24.svg");
}

.Octicons.Octicons-trash-24:after {
    background-image: url("../fonts/trash-24.svg");
}

.Octicons.Octicons-trashcan-16:after {
    background-image: url("../fonts/trashcan-16.svg");
}

.Octicons.Octicons-triangle-down-16:after {
    background-image: url("../fonts/triangle-down-16.svg");
}

.Octicons.Octicons-triangle-down-24:after {
    background-image: url("../fonts/triangle-down-24.svg");
}

.Octicons.Octicons-triangle-left-16:after {
    background-image: url("../fonts/triangle-left-16.svg");
}

.Octicons.Octicons-triangle-left-24:after {
    background-image: url("../fonts/triangle-left-24.svg");
}

.Octicons.Octicons-triangle-right-16:after {
    background-image: url("../fonts/triangle-right-16.svg");
}

.Octicons.Octicons-triangle-right-24:after {
    background-image: url("../fonts/triangle-right-24.svg");
}

.Octicons.Octicons-triangle-up-16:after {
    background-image: url("../fonts/triangle-up-16.svg");
}

.Octicons.Octicons-triangle-up-24:after {
    background-image: url("../fonts/triangle-up-24.svg");
}

.Octicons.Octicons-typography-16:after {
    background-image: url("../fonts/typography-16.svg");
}

.Octicons.Octicons-typography-24:after {
    background-image: url("../fonts/typography-24.svg");
}

.Octicons.Octicons-unfold-16:after {
    background-image: url("../fonts/unfold-16.svg");
}

.Octicons.Octicons-unfold-24:after {
    background-image: url("../fonts/unfold-24.svg");
}

.Octicons.Octicons-unlock-16:after {
    background-image: url("../fonts/unlock-16.svg");
}

.Octicons.Octicons-unlock-24:after {
    background-image: url("../fonts/unlock-24.svg");
}

.Octicons.Octicons-unmute-16:after {
    background-image: url("../fonts/unmute-16.svg");
}

.Octicons.Octicons-unmute-24:after {
    background-image: url("../fonts/unmute-24.svg");
}

.Octicons.Octicons-unverified-16:after {
    background-image: url("../fonts/unverified-16.svg");
}

.Octicons.Octicons-unverified-24:after {
    background-image: url("../fonts/unverified-24.svg");
}

.Octicons.Octicons-upload-16:after {
    background-image: url("../fonts/upload-16.svg");
}

.Octicons.Octicons-upload-24:after {
    background-image: url("../fonts/upload-24.svg");
}

.Octicons.Octicons-verified-16:after {
    background-image: url("../fonts/verified-16.svg");
}

.Octicons.Octicons-verified-24:after {
    background-image: url("../fonts/verified-24.svg");
}

.Octicons.Octicons-versions-16:after {
    background-image: url("../fonts/versions-16.svg");
}

.Octicons.Octicons-versions-24:after {
    background-image: url("../fonts/versions-24.svg");
}

.Octicons.Octicons-workflow-16:after {
    background-image: url("../fonts/workflow-16.svg");
}

.Octicons.Octicons-workflow-24:after {
    background-image: url("../fonts/workflow-24.svg");
}

.Octicons.Octicons-x-16:after {
    b
