
@{
    ViewBag.Title = "Index";
}

<section class="parallax animate__fadeInUp" data-speed="0.2" data-img-src="./App_Component/Resource/Img/Home/Parallax1.jpg" style="background-repeat: no-repeat; width: 100%; height: 250px;">
    
</section>
<section class="text-center animate__fadeInUp" style="animation-delay:1s">
    <div class="container py-7 container">
        <h2 class="display-4 mb-4">[Kelebihan Minecraft Server Kita]</h2>
        <div class="row text-center">
            <div class="col-md-10 fs-3">
                <i class="fal fa-tachometer-fastest"></i>
                <p class="text-black">[Server high speed]</p>
            </div>
            <div class="col-md-10 fs-3">
                <i class="fal fa-lock-alt"></i>
                <p class="text-black">[Privacy Terjaga]</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-10 fs-3">
                <i class="fal fa-users"></i>
                <p class="text-black">[Best Community]</p>
            </div>
            <div class="col-md-10 fs-3">
                <i class="fal fa-shield-alt"></i>
                <p class="text-black">[Minecraft Server always online]</p>
            </div>
        </div>
    </div>
</section>
<section class="parallax animate__fadeInUp" data-speed="0.2" data-img-src="./App_Component/Resource/Img/Home/Parallax2.jpg" style="animation-delay:2s">
    <div class="container py-7 text-white">
        <h2 class="display-4 mb-4 text-white">[Lets Play!]</h2>
        <p class="lead">[ip]</p>
    </div>
</section>
<section class="container animate__fadeInUp" style="animation-delay:3s">
    <h2 class="text-center fw-bold">Gamemode</h2>
    <p class="text-center lead">[Adtional information]</p>
    <div class="row">
        <div class="col-md-12">
            <h2>Survival</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis massa mauris, vulputate sed magna non, molestie malesuada arcu. Pellentesque cursus venenatis odio vestibulum ornare. Aenean id placerat turpis. Suspendisse sed ante ac ligula venenatis imperdiet. Praesent lorem orci, imperdiet nec massa eu, aliquam semper velit. Vivamus consectetur efficitur sem, quis ultricies libero accumsan id. Etiam non elementum risus, sit amet consectetur lorem. Proin non ultrices ligula. Maecenas orci libero, ultrices non dolor sed, facilisis euismod lorem. Donec congue vel eros eget volutpat. Sed laoreet ullamcorper fermentum. Nulla dignissim ligula quis nisi efficitur iaculis. Nullam malesuada euismod lorem a eleifend. Nulla a mauris nec sapien consectetur vestibulum.
            </p>
        </div>
        <div class="col-md-8">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="1920" height="1080" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 1920x1080" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">1920x1080</text></svg>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="1920" height="1080" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 1920x1080" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">1920x1080</text></svg>
        </div>
        <div class="col-md-12">
            <h2>Creative</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis massa mauris, vulputate sed magna non, molestie malesuada arcu. Pellentesque cursus venenatis odio vestibulum ornare. Aenean id placerat turpis. Suspendisse sed ante ac ligula venenatis imperdiet. Praesent lorem orci, imperdiet nec massa eu, aliquam semper velit. Vivamus consectetur efficitur sem, quis ultricies libero accumsan id. Etiam non elementum risus, sit amet consectetur lorem. Proin non ultrices ligula. Maecenas orci libero, ultrices non dolor sed, facilisis euismod lorem. Donec congue vel eros eget volutpat. Sed laoreet ullamcorper fermentum. Nulla dignissim ligula quis nisi efficitur iaculis. Nullam malesuada euismod lorem a eleifend. Nulla a mauris nec sapien consectetur vestibulum.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Advanture</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis massa mauris, vulputate sed magna non, molestie malesuada arcu. Pellentesque cursus venenatis odio vestibulum ornare. Aenean id placerat turpis. Suspendisse sed ante ac ligula venenatis imperdiet. Praesent lorem orci, imperdiet nec massa eu, aliquam semper velit. Vivamus consectetur efficitur sem, quis ultricies libero accumsan id. Etiam non elementum risus, sit amet consectetur lorem. Proin non ultrices ligula. Maecenas orci libero, ultrices non dolor sed, facilisis euismod lorem. Donec congue vel eros eget volutpat. Sed laoreet ullamcorper fermentum. Nulla dignissim ligula quis nisi efficitur iaculis. Nullam malesuada euismod lorem a eleifend. Nulla a mauris nec sapien consectetur vestibulum.
            </p>
        </div>
        <div class="col-md-8">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="1920" height="1080" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 1920x1080" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">1920x1080</text></svg>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="1920" height="1080" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 1920x1080" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">1920x1080</text></svg>
        </div>
        <div class="col-md-12">
            <h2>Hardcore</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis massa mauris, vulputate sed magna non, molestie malesuada arcu. Pellentesque cursus venenatis odio vestibulum ornare. Aenean id placerat turpis. Suspendisse sed ante ac ligula venenatis imperdiet. Praesent lorem orci, imperdiet nec massa eu, aliquam semper velit. Vivamus consectetur efficitur sem, quis ultricies libero accumsan id. Etiam non elementum risus, sit amet consectetur lorem. Proin non ultrices ligula. Maecenas orci libero, ultrices non dolor sed, facilisis euismod lorem. Donec congue vel eros eget volutpat. Sed laoreet ullamcorper fermentum. Nulla dignissim ligula quis nisi efficitur iaculis. Nullam malesuada euismod lorem a eleifend. Nulla a mauris nec sapien consectetur vestibulum.
            </p>
        </div>
    </div>
</section>

